.main {
  position: relative;
}
.web-heading {
  background-color: #24384e;
  height: 60vh;
}

.search_bar {
  position: absolute;
  left: 50%;
  top: 32%;
  transform: translate(-50%, -50%);
  animation: movefrom_bottom 3s ease;
}

.text {
  position: absolute;
  margin-top: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: capitalize;
  text-align: center;
}

.product-card {
  background-color: aqua;
}

.text__primary {
  color: azure;
  font-size: 60px;
  font-weight: 700;
  animation: movefrom_top 2s ease;
}

.text__subtext {
  color: azure;
  font-size: 30px;
  font-weight: 200;
  word-spacing: 6px;
  animation: movefrom_left 2s ease;
}

.search-container {
  margin-top: 10px;
  cursor: pointer;
  animation: movefrom_bottom 3s ease;
}

.form-control {
  display: inline;
  margin-right: 10px;
}

.search-result-container {
  margin: 100px;
  background-color: rgb(247, 246, 246);
}

.close-button {
  margin-top: 30px;
  margin-left: 95%;
  border-radius: 28px;
  border: none;
}

/* ALL ANIMATIONS */

@keyframes movefrom_top {
  0% {
    opacity: 0;
    transform: translateY(-100px);
    font-size: 35px;
  }
  80% {
    opacity: 0.5;
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes movefrom_left {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    opacity: 0.5;
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes movefrom_bottom {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  80% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
