.card-container {
  background-color: rgb(253, 254, 255);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cardii {
  border-radius: 10px;
  margin: 20px;
  background-color: #e5e5e5;
  height: 80px;
  width: 380px;
  padding: 5px;
  transition: 0.2s;
}
.card-image {
  border-radius: 10px;
  height: 100%;
  width: 140px;
}

.cardii:hover {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  background-color: rgb(19, 138, 253);
  transform: translateY(-10px);
}
