header {
  background-color: #24384e;
}

.navigate {
  display: inline;
  padding: 10px 10px;
  text-decoration: none;
}

.navigate:hover {
  border-bottom: 2px solid rgba(18, 137, 253);
  color: azure;
  cursor: pointer;
}

.username {
  position: absolute;
  right: 125px;
}
